[package]
description = "Hala asynchronous network programming primitive type udp"
documentation = "https://docs.rs/hala-quic"
edition.workspace = true
license = "MIT"
name = "hala-quic"
repository.workspace = true
version.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
dashmap = {workspace = true}
futures = {workspace = true}
log = {workspace = true}
quiche = {workspace = true, optional = true}
rand = {workspace = true, optional = true}
ring = {workspace = true, optional = true, features = ["std"]}
thiserror = {workspace = true}

hala-future = {workspace = true}
hala-io = {workspace = true, features = ["current", "mio-driver"]}
hala-sync = {workspace = true}

[dev-dependencies]
divan = {workspace = true}
futures-test = {workspace = true}
hala-test = {workspace = true}
pretty_env_logger = {workspace = true}
rand = {workspace = true}
